{% extends 'administrador/index.html.twig' %}

{% block title %}{{parent()}} - Ayuda{% endblock %}

{% block body %}

{{parent()}}


<div class="container h-100 " style="margin-top:80px">

    <h1 style="color:black; margin-top:40px;"><center>Ayuda<center></h1>

    <ul>
        <li><a href="#Inicio">Inicio</a></li>
        <li><a href="#Usuarios">Usuarios</a></li>
        <li><a href="#Mi actividad">Mi actividad</a></li>
        <li><a href="#Rutas">Rutas</a></li>
        <li><a href="#Eventos">Eventos</a></li>
        <li><a href="#Material Deportivo">Material Deportivo</a></li>
        <li><a href="#Mi perfil">Mi perfil</a></li>
        <li><a href="#Cerrar Sesión">Cerrar Sesión</a></li>
    </ul>

    <h2 id="Inicio">Inicio</h2>

    <p>La opción <strong>Inicio</strong> que se encuentra en la barra de navegación, podemos acceder a la página principal de la aplicación desde cualquier
    parte de ella.</p>

    <h2 id="Usuarios">Usuarios</h2>

    <p>La opción <strong>Usuarios</strong> de la barra de navegación, muestra dos operaciones principales para interactuar
    con los usuarios registrados en el sistema.</p>

        <h3 id="Buscar usuario">Buscar usuario</h3>

        <p>La opción <strong>Buscar usuario</strong> del menú <strong>Usuarios</strong>, accede al buscador de usuarios.
        Se pueden filtrar los resultados de la búsqueda por parámetros introduciendo uno o varios parámetros de búsqueda en los
        correspondientes campos y pulsando el botón <strong>Buscar</strong> para confirmar los filtros introducidos.</p>
        <p>Por defecto se mostrará la lista completa de usuarios registrados.</p>
        <p>Las opciones disponibles para los usuarios son:</p>
        <ul>
            <li><strong>Consultar Usuario:</strong> Visualiza la información del usuario registrado con detalle.</li>
            <li><strong>Editar Usuario:</strong> Permite modificar la información personal de un usuario registrado.</li>
            <li><strong>Eliminar Usuario:</strong> Permite borrar un usuario del sistema junto con <strong>toda la información vinculada</strong> al mismo.
            Si se confirma la acción se eliminará por completo toda la información de la base de datos, incluyendo 
            su inscripción a rutas y solicitudes de material deportivo (si existieran).</li>
        </ul>
        <p>Además, en la parte superior izquierda se muestra la opción "imprimir informe" que permite al administrador imprimir un informe en formato
        PDF de los usuarios del sistema.</p>

        <h3 id="Registrar usuario">Registrar usuario</h3>

        <p>La opción <strong>Registrar usuario</strong> del menú <strong>Usuarios</strong>,  muestra un formulario de registro para
        un nuevo usuario en el sistema.</p>

        <h3 id="Solicitudes de admisión socio">Registrar usuario</h3>
        <p>La opción <strong>Solicitudes de admisión socio</strong> del menú <strong>Usuarios</strong>,  muestra un listado de usuarios que han solicitado
        ser socio/a del club. Las opciones disponibles son:
        <ul>
            <li><strong>Validar Usuario:</strong> Valida al usuario como socio del club. Por lo tanto, puede acceder a la web con ese rol.</li>
            <li><strong>Rechazar Usuario:</strong> Rechaza al usuario solicitante, por lo que se elimina toda la información vinculada en la base de datos.</li>
        </ul>

        <h3 id="Solicitudes de baja socio">Registrar usuario</h3>
        <p>La opción <strong>Solicitudes de baja socio</strong> del menú <strong>Usuarios</strong>,  muestra un listado de socios que han solicitado la baja
        del club. Las opciones disponibles son:
        <ul>
            <li><strong>Dar de baja Usuario:</strong> Da de baja al usuario, es decir, elimina toda la información vinculada al usuario en la base de datos.</li>
        </ul>


    <h2 id="Mi actividad">Mi actividad</h2>

    <p>La opción <strong>Mi actividad</strong> que se encuentra en la barra de navegación, muestra la operacion principal para interactuar
    con la actividad del usuario en el sistema.</p>

        <h3 id="Rutas">Rutas</h3>

            <p>La opción <strong>Rutas</strong> del menú <strong>Mi actividad</strong>, accede al buscador de rutas inscritas del usuario.
            <p>Por defecto se mostrará la lista completa de rutas inscritas del usuario.</p>
            <p>Las opciones disponibles para las rutas son:</p>
            <ul>
                <li><strong>Consultar Ruta:</strong> Visualiza la información de la ruta registrada con detalle.</li>
                <li><strong>Anular Inscripción:</strong> Visualiza la informacion de la ruta inscrita y pregunta confirmación de la anulación
                de inscripción al usuario.</li>
            </ul>
    
    <h2 id="Rutas">Rutas</h2>

    <p>La opción <strong>Rutas</strong> de la barra de navegación, muestra dos operaciones principales para interactuar
    con las rutas registradas en el sistema.</p>

        <h3 id="Buscar ruta">Buscar ruta</h3>

        <p>La opción <strong>Buscar ruta</strong> del menú <strong>Rutas</strong>, accede al buscador de rutas.
        Se pueden filtrar los resultados de la búsqueda por parámetros introduciendo uno o varios parámetros de búsqueda en los
        correspondientes campos y pulsando el botón <strong>Buscar</strong> para confirmar los filtros introducidos.</p>
        <p>Por defecto se mostrará la lista completa de rutas registradas.</p>
        <p>Las opciones disponibles para las rutas son:</p>
        <ul>
            <li><strong>Consultar Ruta:</strong> Visualiza la información de la ruta registrada con detalle.</li>
            <li><strong>Editar Ruta:</strong> Permite modificar la información de una ruta registrada.</li>
            <li><strong>Eliminar Ruta:</strong> Permite borrar una ruta del sistema junto con <strong>toda la información vinculada</strong> al mismo.
            Si se confirma la acción se eliminará por completo toda la información de la base de datos, incluyendo 
            los usuarios que están inscritos a ella (si existieran).</li>
            <li><strong>Habilitar Inscripción:</strong> Muestra un formulario para poder habilitar la inscripción a la ruta seleccionada.</li>
            <li><strong>Inscribirse a Ruta:</strong> Permite al usuario inscribirse a la ruta seleccionada.</li>
            <li><strong>Usuarios participantes:</strong> Muestra al usuario un listado de lo usuarios participantes de esa ruta, si así lo requiere.
            Las opciones para el usuario son las mismas que en el listado de "buscar usuario". Además de mostrar un opción de "imprimir informe" de los participantes.
        </ul>

        <h3 id="Registrar ruta">Registrar ruta</h3>

        <p>La opción <strong>Registrar ruta</strong> del menú <strong>Rutas</strong>,  muestra un formulario de registro para
        una nueva ruta en el sistema.</p>

    <h2 id="Eventos">Eventos</h2>

    <p>La opción <strong>Eventos</strong> de la barra de navegación, muestra dos operaciones principales para interactuar
    con los eventos registrados en el sistema.</p>

        <h3 id="Buscar evento">Buscar evento</h3>

        <p>La opción <strong>Buscar evento</strong> del menú <strong>Eventos</strong>, accede al buscador de eventos.
        Se pueden filtrar los resultados de la búsqueda por parámetros introduciendo uno o varios parámetros de búsqueda en los
        correspondientes campos y pulsando el botón <strong>Buscar</strong> para confirmar los filtros introducidos.</p>
        <p>Por defecto se mostrará la lista completa de eventos registrados.</p>
        <p>Las opciones disponibles para las rutas son:</p>
        <ul>
            <li><strong>Consultar Evento:</strong> Visualiza la información del evento registrado con detalle.</li>
            <li><strong>Editar Evento:</strong> Permite modificar la información de un evento registrado.</li>
            <li><strong>Eliminar Evento:</strong> Permite borrar un evento del sistema junto con <strong>toda la información vinculada</strong> al mismo.
            Si se confirma la acción se eliminará por completo toda la información de la base de datos.</li>
        </ul>

        <h3 id="Registrar evento">Registrar evento</h3>

        <p>La opción <strong>Registrar evento</strong> del menú <strong>Eventos</strong>,  muestra un formulario de registro para
        un nuevo evento en el sistema.</p>

    <h2 id="Material Deportivo">Material Deportivo</h2>

    <p>La opción <strong>Material Deportivo</strong> de la barra de navegación, muestra dos operaciones principales para interactuar
    con los materiales deportivos registrados en el sistema.</p>

        <h3 id="Buscar Material deportivo">Buscar Material Deportivo</h3>

        <p>La opción <strong>Buscar Material deportivo</strong> del menú <strong>Material Deportivo</strong>, accede al buscador de material deportivo.
        Se pueden filtrar los resultados de la búsqueda por parámetros introduciendo uno o varios parámetros de búsqueda en los
        correspondientes campos y pulsando el botón <strong>Buscar</strong> para confirmar los filtros introducidos.</p>
        <p>Por defecto se mostrará la lista completa de eventos registrados.</p>
        <p>Las opciones disponibles para las rutas son:</p>
        <ul>
            <li><strong>Consultar Material Deportivo:</strong> Visualiza la información del material deportivo registrado con detalle.</li>
            <li><strong>Editar Material Deportivo:</strong> Permite modificar la información de un evento registrado.</li>
            <li><strong>Eliminar Material Deportivo:</strong> Permite borrar material deportivo del sistema junto con <strong>toda la información vinculada</strong> al mismo.
            Si se confirma la acción se eliminará por completo toda la información de la base de datos. Incluyendo las solicitudes de ese Material
            con los distintos usuarios.</li>
            <li><strong>Usuarios solicitantes:</strong> Muestra al usuario un listado de lo usuarios solicitantes de esa prenda.
            Las opciones para el usuario son las mismas que en el listado de "buscar usuario". Además de mostrar un opción de "imprimir informe" de los solicitantes.
        </ul>

        <h3 id="Registrar Material deportivo">Registrar Material Deportivo</h3>

        <p>La opción <strong>Registrar Material deportivo</strong> del menú <strong>Material Deportivo</strong>,  muestra un formulario de registro para
        un nuevo material deportivo en el sistema.</p>

    <h2 id="Mi perfil">Mi perfil</h2>

    <p>La opción <strong>Mi perfil</strong> de la barra de navegación, muestra las tres operaciones principales para interactuar
    con el perfil del usuario conectado en ese momento a la aplicación.</p>

        <h4 id="Ver mi perfil">Ver mi perfil</h4>

        <p>La opción <strong>Ver mi perfil</strong> del menú <strong>Mi perfil</strong>, podemos consultar la información personal
        del perfil de usuario conectado actualmente a la aplicación.</p>

        <h4 id="Editar mi perfil">Editar mi perfil</h4>

        <p>La opción <strong>Editar mi perfil</strong> del menú <strong>Mi perfil</strong>, podemos modificar la información personal
        del perfil de usuario conectado actualmente a la aplicación.</p>

        <h4 id="Borrar mi perfil">Borrar mi perfil</h4>

        <p>La opción <strong>Borrar mi perfil</strong> del menú <strong>Mi perfil</strong>, poddemos eliminar la información personal
        del perfil de usuario conectado actualmente a la aplicación. Si se confirma la acción, la sesión del usuario se cerrará y no podrá volver
        a iniciar sesión en la aplicación.</p>
    
    <h3 id="Cerrar Sesión">Cerrar Sesión</h3>

    <p>La opción <strong>Cerrar sesión</strong> de la barra de navegación, desconecta al usuario de la aplicación, volviendo a la página principal
    de la misma como un Usuario Público y restringiendo de nuevo el acceso a opciones reservadas para usuarios registrados.</p>

</div>

<div id="boton_volver" class="form-group col-md-6">
            <button type="button" class="btn btn-secondary" onclick="history.back()">Volver</button>
</div>

{% endblock %}

{% block content %}
{% endblock %}
