{% extends 'administrador/index.html.twig' %}
{% block title %}{{parent()}} - Eliminar Usuario{% endblock %}
{% block body %}
{{parent()}}

<div class="container h-100 " style="margin-top:80px">
    <div class="row justify-content-center align-items-center" style="margin-top:30px; border: 10px ridge RoyalBlue;">
        <div class="col-8 bg-white rounded my-3 p-5">
            <h2>¿Está seguro/a de eliminar este usuario?</h2>
            <div style="class=form-row">
            {{form(formulario)}}
            </div>
            <div style="margin-top:10px">
                <button type="button" class="btn btn-secondary" onclick="history.back()'">Cancelar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}
